AidlFile/
AidlFolder/
AndroidAutoMediaService/
AndroidAutoMessagingService/
AndroidManifest/
AppWidget/
AssetsFolder/
BlankFragment/
BroadcastReceiver/
ContentProvider/
Daydream/
DisplayNotification/
IntentService/
JavaFolder/
JniFolder/
LayoutResourceFile/
ListFragment/
ModalBottomSheet/
Notification/
PlusOneFragment/
ResFolder/
ResourcesFolder/
RsFolder/
Service/
ValueResourceFile/
WatchFaceService/
CustomView/
